body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}

header, section, footer {
    text-align: center;
    padding: 50px 20px;
}

header {
    background-color: #3498db;
    color: #fff;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
